.list {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 3rem 0;
  width: 100%;
  padding: 2rem;
  margin-top: 2rem;
  ul {
    padding: 0;

    li {
      padding: 0.5rem 1rem;
      list-style-type: none;
      list-style-position: outside;
      background-color: #eee;
      margin-bottom: 1rem;
      span {
        cursor: pointer;
      }
      p {
        width: 100%;
        margin: 0;
      }
    }
  }
}
